<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Brookjs Playground</title>
    </head>
    <body>
        <div id="app">
            <h1>Hello World</h1>
        </div>

        <script defer src="/brooks.test.js"></script>
    </body>
</html>